{% extends 'main/layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'main/css/info.css' %}">
{% endblock %}

{% block title %}
    info igRa
{% endblock %}
{% block content %}
    

    <div class="display_one">
        <img class="logo__ladia" src="{% static 'main/img/ladia.png' %}" alt="">

        <p class="social__p" style="color: black">
            I give "Resource Аsset" - <br>
            Я даю "Ресурсный Актив"<br><br>

            IgRA<br>
            готова стартовать с Вами !<br><br>

            В системе "IgRA" вы можете оказывать  друг для друга услуги, делиться материальными ценностями, отдавать друг другу нематериальные ресурсы используя вместо казначейских билетов (фиатных валют) договоры о намерениях. <br>
            Используйте Ресурсный Актив -  "РА".<br><br>

            РА генерируешь лично ты. Когда ты становишься участником коллектива в "IgRA", ты выражаешь намерение  давать свои умения, возможности и то, что сам пожелаешь, любому другому участнику этого сообщества.  Таким образом, ты создаёшь договоры о намерениях, ты даёшь возможности, которые названы "Ресурсный Актив". <br><br>

            Например: <br>
            Когда в IgRA зарегистрировались  два участника, каждый из них сгенерировал по одному РА для другого участника. Теперь у каждого есть возможность обратиться один раз к своему партнёру. <br>
            "РА" также может делиться на маленькие частички. Ты можешь обратиться к партнёру половину раза или четверть раза или 0,32 раза. Такую часть РАза, о которой договорятся участники сделки.  <br>
            Каждый следующий участник, регистрирующийся в коллективе IgRA генерирует столько "Ресурсных Активов" для себя лично, сколько  уже  присутствует пользователей. А также новый участник генерирует по одному РА для каждого человека в IgRA. <br>
            Таким образом, чем больше коллектив, тем богаче каждый его участник. Это похоже на  состоящую из прутиков метлу.  Чем больше прутиков, тем прочнее метла. <br>
            Все подсчёты автоматизированы. Процесс появления РА заложен В математической формуле. Алгоритм подсчитывает количество участников и выдаёт в результате количество РА у каждого участника. Таким же образом калькулятор складывает и вычитает суммы РА, передающиеся друг другу.  <br>
            При каждой передаче РА 1% от транзакции поступает в специальный фонд, предназначенный для реализации проектов необходимых всему коллективу. 1% от транзакции вычитается со счета отправителя РА. <br>
            При вступлении в коллектив IgRA 10% от сгенерированных РА также поступает в "Фонд". Эти 10% вычитаются у нового участника. <br><br>

            Сейчас данные о транзакциях и количестве РА (количестве договоров о намерениях) в коллективе IgRA находятся в базе данных на сервере. В случае неполадок с интернет-ресурсами или сервером, доступ к данным может быть затруднён. <br>
            Просим Вас относиться к процедуре взаимоотношений в IgRA, как к Игре. Ваше решение зарегистрироваться в этом приложении и стать участником сообщества "IgRA" должно быть продиктовано не желанием лично обогатиться или сэкономить ваши казначейские билеты, получив услуги или ценности от других людей. Ваше намерение должно быть обосновано интересом к этому проекту. <br><br>

            При регистрации просим Вас подписать договор "Присягу"<br>


        </p>


        <div class="Hor">
            <a href="">Sing Up</a>
            |
            <a href="">Sing In</a>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'main/js/info.js' %}"></script>
{% endblock %}