{% extends 'main/layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'main/css/reg.css' %}">
{% endblock %}

{% block title %}
    igRa
{% endblock %}

{% block content %}
    <img  class="logo__ladia" src="{% static 'main/img/ladia.png' %}" alt="">
    <form method="post">
        {% csrf_token %}
        <div class="horizontal_but">
            <input name="username" style="margin: 0;" class="padding_Input input_text" type="text" placeholder="Name">
            <!-- <input style="margin: 0;" class="padding_Input input_but" type="button" value="Код"> -->
            <label class="container">
                
                <input checked="checked" type="checkbox">
                <div class="checkmark"></div>
            </label>
        </div>
        <input class="padding_Input input_code input_text" name="password" type="password" placeholder="Password">
        {{ form.error }}
        <input class="padding_Input input_but" type="submit" value="Войти">
    </form>
{% endblock %}

{% block scripts %}
    <script src="{% static 'main/js/reg.js' %}"></script>
{% endblock %}
