{% load static %}
<div class="burger__menu__button"> 
    <label class="bar" for="menu_open">
        <input class="Menu_Open_but" type="checkbox" name="" id="menu_open">
        <img class="menu_img" src="{% static 'main/img/menu.svg' %}" alt="">
    </label>
</div>
<div class="navbar">
    <div class="menu-items">
        <li class="menu_item"><a class="link_menu" href="">Поиск</a></li>
        <li class="menu_item"><a class="link_menu" href="{% url 'fond' %}">Фонд</a></li>
        <li class="menu_item"><a class="link_menu" href="{% url 'home' %}">IgRA</a></li>
        <li class="menu_item"><a class="link_menu" href="{% url 'history_pay' %}">История</a></li>
        <li class="menu_item"><a class="link_menu" href="">Контакты</a></li>
    </div>
</div>