
*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #6189b5;
  background-image: linear-gradient(0deg, #6189b5 0%, #a7ffff 33%, #f4ffcc 66%, #ffffff 100%);

  overflow-x: hidden;

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 
form{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  width: 75%;
  height: 50%;
}
.padding_Input{
  padding: 5px 10px;
  font-size: 30px;
  margin: 10px;
  border: none;
  
}
.input_code{
  width: 100%;
  box-sizing: border-box;
}
.horizontal_but{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}
.input_text{
  border-bottom: solid black 1px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.208);
}
.input_but{
  background: rgb(255, 255, 255);

}
.input_but:hover{

  box-shadow: 0 0 5px rgb(255, 255, 255),
              0 0 25px rgb(255, 255, 255),
              0 0 50px rgb(255, 255, 255),
              0 0 100px rgb(255, 255, 255);
}
/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
 }
 
 .container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 25px;
  user-select: none;
  scale: 1;
  padding: 0 10px;
 }
 
 /* Create a custom checkbox */
 .checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background: rgb(210, 210, 210);
  border-radius: 50px;
  transition: all 0.7s;
  --spread: 20px;
 }
 
 /* When the checkbox is checked, add a blue background */
 .container input:checked ~ .checkmark {
  background: rgb(173, 0, 0);
  box-shadow: -10px -10px var(--spread) 0px yellow, 0 -10px var(--spread) 0px yellow, 10px -10px var(--spread) 0px #E1306C, 10px 0 var(--spread) 0px yellow, 10px 10px var(--spread) 0px #F77737, 0 10px var(--spread) 0px #FCAF45, -10px 10px var(--spread) 0px yellow;
 }
 
 /* Create the checkmark/indicator (hidden when not checked) */
 .checkmark:after {
  content: "";
  position: absolute;
  display: none;
 }
 
 /* Show the checkmark when checked */
 .container input:checked ~ .checkmark:after {
  display: block;
 }
 
 /* Style the checkmark/indicator */
 .container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid #f0f0f0;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
 }
 .logo__ladia{
  width: 70%;
  height: auto;
  padding: 6% 15%;
  opacity: 1;
  position: absolute;
  z-index: -5;
  top: auto;
  bottom: 0;
 }